name: Pull Request Labeler

# Run for PRs
on:
  pull_request:

jobs:
  triage:
    runs-on: ubuntu-latest
    steps:
      - name: Label Pull Request
        uses: actions/labeler@main
        with:
          repo-token: "${{ secrets.GITHUB_TOKEN }}"
  